{% extends 'admin.html' %}
{% load static %}
{% block content %}
<h1>Subject</h1>
<br>
<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <label for="uname"><b>Academic year</b></label>
            <input type="text" name="academicyear" value="{{key.academicyearname}}" required>
            <label for="uname"><b>Course</b></label>
            <select name="course" id="course" required>
                <option value="">-- select course --</option>
                {% for i in key1 %}
                <option value="{{i.id}}">{{ i.coursename }}</option>
                {% endfor %}
            </select>

            </select>
            <label for="psw"><b>Batch</b></label>
            <select name="batch" id="batch" required>
                <option value="">-- select batch --</option>


            </select>
            <label for="uname"><b>Subject</b></label>
            <input type="text" placeholder="Enter Subject" name="subject" required>

            <label for="inputEmail3">Upload excel</label>
            <input type="file" name="file" required>
            <br>
            <button type="submit" name="submit" class="btn btn-secondary" style="float:right;">Submit</button>
            <input id="msg" value="{{key3}}" hidden>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Academic year</th>
                            <th>Course</th>
                            <th>Batch</th>
                            <th>Subject</th>
                            <th>Syllabus</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for i in key2 %}

                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{i.academicid.academicyearname}}</td>
                            <td>{{ i.courseid.coursename}}</td>
                            <td>{{ i.batch.batchname }}</td>
                            <!--                                    <td>{{ i.semester.semester}}</td>-->
                            <td>{{i.subject}}</td>
                            <td>
                                {% if i.syllabus == None %}
                                {{" Not yet upload "}}
                                {% else %}


                                <a href="/institute/syllabus/{{i.id}}/">
                                    <button type="submit">view</button>
                                </a>
                                {% endif %}
                            </td>
                            <td>
                                <form method='post'>{% csrf_token %}
                                    <button type="submit">Delete</button>
                                    <input name="delete" value="{{i.id}}" hidden>
                                </form>
                            </td>
                            <td>
                                <a href="/institute/editsubject/{{i.id}}/">
                                    <button type="submit">Edit</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
{%endblock %}
{% block script %}
<script>
var x=document.getElementById("msg").value;
 if (x=="yes"){
    alert("already asigned")
    }

</script>
<script>
    function checkUser(data,usr){
                    console.log(data)
                    var batcharray =[]
                    var batcharrayid =[]
                  for (i=0; i<data.length; i++){
                    if( data[i].courseid.id == usr){
                    batcharrayid.push(data[i].id);
                    batcharray.push(data[i].batchname);
                    }
                  }
                    var string="<option>-- select batch --</option>"

                    for (i=0; i<batcharrayid.length; i++){
                    string=string+"<option value='"+batcharrayid[i]+"'>"+batcharray[i]+"</option>"
                    }
                    document.getElementById("batch").innerHTML = string;
                  }
                  $("#course").on("change",function(){

        var us = $("#course").val()
        var ourRequest = new XMLHttpRequest();
        ourRequest.open('GET','/api/batchlist/')
        ourRequest.onload = function(){
                        var ourData = JSON.parse(ourRequest.responseText);

                        checkUser(ourData,us);
                      };
                      ourRequest.send();
         });

</script>
{% endblock %}